
*{
    margin: 0;
    padding: 0;
    border: 0;
}
/*fondo*/
body {
    background: linear-gradient(90deg, #011126, #00213e);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: white;    
}

/*Menu*/
ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

 li:hover {
    background-color: #00213e;
    
 }

/*Header*/

.parralax{
    background-image:url('https://picsum.photos/id/237/200/300');
    margin-top: 45px;
    text-align: center;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    height: 300px;
    font-size: 50px;
    color: #ffff;
    margin-bottom: 100px;
    
}

.parralax h1 {
    padding-top: 50px;
}